/1.c
/Border.class
/Border.java
/calculator form.java
/class.java
/desktop.ini
/GitHub
/HelloWorld.class
/HelloWorld.java
/Loginform.java
/Numerical Method
/package.java
/Pictures - Shortcut.lnk
/SQL Server Management Studio
/Visual Studio 2017
/My Music
/My Pictures
/My Videos